<nav>
    <br>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active"><i>oniun</i></a></li>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/categories" routerLinkActive="active">Categories</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Blog Posts</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
</nav>

<!-- This is where Angular will load the routed components -->
<router-outlet></router-outlet>

<!-- <footer>
    <p>&copy; 2024 ITI Final Project</p>
</footer> -->